@charset "UTF-8";

.share {
    width: 800px;
    margin: 0 auto;
}

.share h3 {
    color: #999;
    border-left: 5px solid #999;
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    line-height: 40px;
}

.share section,
.share .request-user {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
}

.share section {
    border-bottom: 1px solid #444;
}

.share section:last-child {
    border-bottom: 0;
}

.share .attention-wrap {
    margin-top: 10px;
    border-radius: 4px;
    padding: 5px;
    background-color: #efefef;
}

.share .attention {
    font-size: 13px;
    color: red;
}

.share .desc {
    font-weight: normal;
    font-size: 16px;
    text-decoration: underline;
}

.share .desc::before {
    content: '■';
}

.share .part {
    margin-bottom: 18px;
    border: 1px solid #999;
    border-radius: 10px;
    padding: 10px 20px;
}

.share dd {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #32CD32;
    word-break: break-all;
}

.share div.share-users {
    border-top: 1px #444 dashed;
    padding-top: 10px;
    padding-bottom: 10px;
}

.share div.share-users:first-of-type {
    border-top: 0;
}

.share .clear {
    clear: both;
}

.share .btn-secondary:last-child {
    margin-left: 10px;
}

.share form {
    margin-bottom: 10px;
}

.share input {
    height: 37px;
}

.share .hide {
    display: none;
}

.share .btn {
    margin-left: 10px;
}

.share .btn-primary {
    margin-bottom: 3px;
}

.share .q-a {
    color: pink;
    font-weight: bold;
    font-size: 20px;
}

.share .q-a:hover {
    font-weight: normal;
}

.share .id-change-btn {
    color: #999;
    font-size: 20px;
}

.share .permission-btn {
    margin-top: 10px;
}

.share .id-change-inner {
    float: left;
}

@media (max-width: 800px) {
    .share {
        width: 95%;
    }
}

@media (max-width: 600px) {
    .share h3 {
        font-size: 20px;
        line-height: 20px;
    }

    .share button {
        margin-bottom: 10px;
    }

    .share input {
        width: 100%;
    }

    .share section {
        width: 100%;
    }

    .share .appear dl {
        margin-bottom: 0;
    }

    .share .share-users dl {
        width: 100%;
    }

    .share .id-change-inner {
        float: none;
    }

    .share .id-change button {
        float: right;
    }

    .share .id-change-inner button {
        margin-top: 10px;
    }

    .share .attention-wrap {
        clear: both;
    }

    .share .btn-search {
        margin: 10px 20px 0 0;
        float: right;
    }
}